body {
    font-family: sans-serif;
    background-color: #f4f2ed;
}


#main {
    transition: .5s;
    font-family: 'Red Hat Display', sans-serif;

}

h1 {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 35px;

}

#container,
#header {
    display: flex;
    justify-content: center;
    align-items: center;


}

#bookTable {
    width: 90%;



}

th,
td {
    border-bottom: 1px solid grey;
    border-right: 1px solid grey;
    padding: 15px;
    border-collapse: collapse;
    text-align: left;

}

tr {
    background-color: white;

}

th {
    font-size: 18px;
    background-color: aliceblue;
}



tr:hover {
    background-color: aliceblue;

}


.rowRead {
    color: gray;


}


#formContainer {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #caced0;
    overflow-x: hidden;
    padding-top: 100px;
    transition: 0.5s;


}

#bookForm {
    margin-left: 25px;
    font-size: 17px;
    overflow-x: hidden;
    font-family: 'Red Hat Display', sans-serif;


}

#bookForm label {}

#read {
    width: 10px !important;

}

#bookForm input {
    padding: 5px;
    width: 300px;
    margin-bottom: 40px;
}


.validation {
    color: red;

}






/*******BUTTTONS*******/

.readbutton {
    width: 80px;
    height: 45px;
    text-decoration: none;
    color: white;
    display: inline-block;
    vertical-align: top;
    transition: 0.4s;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    color: #ffffff;
    margin-left: 10px;

}

.unread {
    background-color: green;


}

.read {
    background-color: hsl(0, 0%, 45%);




}

.delete {
    width: 80px;
    height: 45px;
    text-decoration: none;
    color: white;
    display: inline-block;
    vertical-align: top;
    transition: 0.4s;
    border-radius: 4px;
    background-color: hsl(0, 50%, 48%);
    border: none;
    color: #ffffff;
    margin-left: 10px;
    cursor: pointer;


}

#submitButton {
    position: absolute;
    bottom: 0;
    right: 25px;
    height: 45px;
    width: 100px;
    font-size: 15px;
    margin-left: 50px;
    margin-bottom: 150px;
    cursor: pointer;

}


#closeButton {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 14px;
    height: 45px;
    width: 100px;
    margin-left: 50px;
    margin-top: 20px;
    cursor: pointer;
}

#closeButton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 1s;
}


#closeButton:hover {
    padding-left: 25px;


}




#formContainer button {
    padding: 10px 10px 10px 10px;
    text-decoration: none;

    color: white;
    display: block;
    transition: 0.4s;
    border-radius: 4px;
    background-color: #4e7aa5;
    border: none;
    color: #FFFFFF;
}

#addBookButton {

    border-radius: 4px;
    background-color: #4e7aa5;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    padding: 10px;
    width: 160px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 12px 5px 5px 10px;
    height: 45px;
}

#addBookButton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 1s;
}

#addBookButton span:after {

    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

#addBookButton:hover span {
    padding-right: 25px;

}

#addBookButton:hover span:after {
    opacity: 1;
    right: 0;
